<body>
  <p>Puppy Name: <%= @puppy.name %></p> #what we initilized with in the model class
  <p>Puppy Breed: <%= @puppy.breed %></p> #what we initilized with in the model class
  <p>Puppy Age: <%= @puppy.age %> months</p> #what we initilized with in the model class
</body>
